# ======================
# Python
# ======================
venv/
env/
__pycache__/
*.pyc
*.pyo
*.pyd

# ======================
# Entornos / secretos
# ======================
.env
.env.*
*.env

# ======================
# Node / Angular
# ======================
node_modules/
dist/

# ======================
# IDEs
# ======================
.vscode/
.idea/

# ======================
# Sistema
# ======================
.DS_Store
Thumbs.db

# ======================
# Otros
# ======================
*.log